.login {
  background-image: url("https://img.static-af.com/images/media/26743379-B7FE-440F-8E524E30B13E20D3/");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 900px;
  width: 100%;
}
h3 {
  font-family: "Staatliches", cursive;
}
input {
  font-family: "Poiret One", cursive;
}
