.register {
  background-image: url("https://www.fondosdepantalla.top/wp-content/uploads/2017/03/granada-la-alhambra-spain-fondosdepantalla.top-10.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 900px;
}

.alert {
  display: block;
  margin: auto;
  width: 900px;
}
